---
import BaseLayout from "../layouts/BaseLayout.astro"
import { skills } from '../data/stack.ts';

// Define custom category order
const categoryOrder = ["Frontend", "Backend", "AI", "CI / CD"];

// Kategorien sortieren
const categories = Array.from(new Set(skills.map(skill => skill.category)))
  .sort((a, b) => {
    const indexA = categoryOrder.indexOf(a);
    const indexB = categoryOrder.indexOf(b);
    
    // If both categories are in the order array, sort by their position
    if (indexA !== -1 && indexB !== -1) {
      return indexA - indexB;
    }
    
    // If only one is in the order array, prioritize it
    if (indexA !== -1) return -1;
    if (indexB !== -1) return 1;
    
    // If neither is in the order array, sort alphabetically
    return a.localeCompare(b);
  });

// Skills nach Kategorie gruppieren
const groupedSkills = categories.map(category => {
  return {
    category,
    items: skills
      .filter(skill => skill.category === category)
      .sort((a, b) => a.name.localeCompare(b.name))
  };
});
---

<BaseLayout>
	<main >
		<article class="h-[100vh] grid bg-black md:grid-cols-2 relative overflow-hidden">
			<header class="px-4 pt-32 md:flex md:flex-col md:justify-center md:-mt-32 md:pt-0 md:px-24 md:relative">
				<p class="text-white md:text-2xl uppercase -rotate-3 -skew-3 tracking-widest">Yes it's true</p>
				<p class="text-secondary text-6xl md:text-9xl font-family-heading -rotate-3 -skew-3">I exit Vim like a pro!</p>
				<div class="absolute bottom-4 inset-x-4 md:bottom-24 md:inset-x-24 grid grid-cols-2 gap-4 md:gap-24">
					<a href="#quick-facts" class=" bg-secondary hover:bg-white font-medium text-center py-4 rounded shadow-md border-2 border-secondary hover:border-white hover:text-african-violet">Find out more</a>
					<a href="#" class=" text-secondary hover:text-white font-medium text-center py-4 rounded shadow-md border-2 border-secondary hover:border-white">Contact me</a>
				</div>
			</header>
			<div class="mt-auto md:h-[100dvh]">
				<img src="/profile.jpg" alt="Ferdinand Niemann, Profilbild" class="md:h-full w-full md:object-cover">
			</div>
		</article>
		<article class="bg-secondary px-4 pt-24 pb-4 md:px-24 md:py-24 min-h-[100dvh] grid" id="quick-facts">
			<h2 class="text-primary font-family-heading text-6xl md:text-9xl mb-12">Quick Facts</h2>
			<p class="text-xl md:text-4xl leading-loose font-light">I am a full-stack developer, currently working at a senior position at <a href="https://remind.de" target="_blank" class="font-normal text-primary">Remind GmbH</a>, where I am deeply involved across the entire development stack. When I am crafting intuitive frontend experiences and building robust backend systems, my focus is on delivering clean, maintainable, and future-ready code.</p>
			<p class="md:text-2xl font-light mt-4 leading-relaxed max-w-prose">Before transitioning into tech, I spent eight years working in retail. But even during that time, programming was more than just a hobby; it was something I always came back to, whether building small projects or exploring new technologies. Eventually, I decided to turn that passion into a career, and I haven't looked back since.</p>
			<p class="md:text-2xl font-light mt-4 leading-relaxed max-w-prose">Today, I have the honor to contribute to a wide range of projects, from lightweight websites for startups to enterprise-grade web applications used by large, multi-million euro companies.</p>
			<a href="#stack" class="bg-primary text-white hover:bg-white font-medium text-center py-4 rounded shadow-md border-2 border-primary hover:border-white hover:text-african-violet self-end md:mt-12 md:w-fit md:px-12">Learn more about my skills</a>
		</article>
		<article class="bg-primary px-4 pt-24 pb-4 md:px-24 md:py-24 min-h-[100dvh]" id="stack">
			<h2 class="text-secondary font-family-heading text-6xl md:text-9xl mb-12">Tech Stack</h2>
			<section>
				{groupedSkills.map(({ category, items }) => (
					<div>
						<h3 class="text-white font-black tracking-widest uppercase">{category}</h3>
						<ul class="flex flex-wrap gap-2 mb-8">
							{items.map(skill => (
								<li class="bg-secondary text-primary px-6 py-2 hover:-rotate-3 hover:-skew-3 transition-all">{skill.name}</li>
							))}
						</ul>
					</div>
				))}
			</section>
		</article>
	</main>
</BaseLayout>